<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Information</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Request Information</h1>
    <div>
        <input type="text" id="urlField" disabled>
        <button id="generateBtn">create link</button>
    </div>
    <div id="container">
        <div id="request-list">
            <h2>Requests</h2>
            <!-- 요청 목록을 여기에 추가 -->
           
            <!-- 여러 요청 항목을 추가할 수 있습니다 -->
        </div>
        <div id="request-details">
            <h2>Details</h2>
           
            <!-- 클릭한 요청의 세부 사항을 여기에 표시 -->
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
